.ms--images{
    position: relative;
    overflow: hidden;
}

.ms--images.ms-container--horizontal{
    width: 100%;
    height: 400%;
    max-width: 100%;
}

.ms--images.ms-container--horizontal .ms-track{
    left: calc(50% - 350px);
}

.ms--images.ms-container--horizontal .ms-slide{
    display: inline-flex;
}

.ms--images .ms-track{
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ms--images .ms-slide{
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ms--images {
    left: calc(50% - 280px);
  }

  .ms--images .ms--images.ms-container--horizontal .ms-track{
    left: -70px;
  }

  .ms--images .ms-slide:nth-child(1) .ms-slide_image{
    background-image: url(../media/harvey-gibson-498362-unsplash.jpg);
  }
  .ms--images .ms-slide:nth-child(2) .ms-slide_image{
    background-image: url(../media/andre-hunter-461305-unsplash.jpg);
  }
  .ms--images .ms-slide:nth-child(3) .ms-slide_image{
    background-image: url(../media/joanna-nix-389128-unsplash.jpg);
  }
  .ms--images .ms-slide:nth-child(4) .ms-slide_image{
    background-image: url(../media/jurica-koletic-321003-unsplash.jpg);
  }

  .ms--images .ms-slide_image-container{
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .ms--images .ms-slide_image{
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .ms-numbers{
    position: relative;
    overflow: hidden;
  }

  .ms--numbers.ms--images.ms-container--horizontal{
    width: 240px;
    height: 240px;
    max-width: 100%;
  }

  .ms--numbers.ms-container--horizontal ms.track{
    left: calc(50% - 120px);
  }

  .ms--numbers.ms-container--horizontal .ms-slide{
    display: inline-flex;
  }

  .ms--numbers .ms-track{
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

.ms--numbers .ms-slide{
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ms--numbers{
    position: absolute;
    left: calc(50% - 380px);
    top: calc(50% - 300px);
    z-index: -1;
    pointer-events: none;
}

.ms--titles{
    position: relative;
    overflow: hidden;
}

.ms--titles .ms--container-vertical{
width: 400px;
height: 170px;
max-height: 100%;
}

.ms--titles .ms--container-vertical .ms-track{
    flex-direction: column;
    top: calc(50% - 85px);
}

.ms--titles .ms--container-vertical .ms--container--reverse .ms-track{
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 85px);
}

.ms--titles .ms--container-vertical .ms-slide{
  display: flex;
}

.ms--titles .ms-track{
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ms--titles .ms-slide{
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 170px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ms-slides{
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% - 85px);
  z-index: 1;
  pointer-events: none;
}

.ms--titles .ms-track{
  white-space: normal;
}

.ms--titles .ms-slide{
  margin: 0;
  text-shadow: 1px 1px 2px black;
}

.ms--links{
  position: relative;
  overflow: hidden;
}

.ms--links .ms--container-vertical{
  width: 120px;
  height: 60px;
  max-width: 100px;
}

.ms--links .ms--container-vertical .ms-track{
  flex-direction: column;
  top: calc(50% - 30px);
}

