.ms--images{
    position: relative;
    overflow: hidden;
}

.ms--images.ms-container--horizontal{
    width: 100%;
    height: 400%;
    max-width: 100%;
}

.ms--images.ms-container--horizontal .ms-track{
    left: calc(50% - 350px);
}

.ms--images.ms-container--horizontal .ms-slide{
    display: inline-flex;
}

.ms--images .ms-track{
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ms--images .ms-slide{
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ms--images {
    left: calc(50% - 280px);
  }

  .ms--images .ms--images.ms-container--horizontal .ms-track{
    left: -70px;
  }
  